<div class="card">
  <div class="card-body">
    <h3>Create Post</h3>
    <form [formGroup]="form" (ngSubmit)="SaveAnnouncement()">
      <div class="mb-3">
        <label for="title">Title</label>
        <mat-form-field>
          <input matInput type="text" id="title" formControlName="title">
        </mat-form-field>
        <div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)">
          <div *ngIf="form.get('title')?.errors?.['required']" class="text-danger">Title is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="content">Content</label>
        <mat-form-field>
          <input matInput type="text" id="content" formControlName="content">
        </mat-form-field>
        <div *ngIf="form.get('content')?.invalid && (form.get('content')?.dirty || form.get('content')?.touched)">
          <div *ngIf="form.get('content')?.errors?.['required']" class="text-danger">Content is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location">Location</label>
        <mat-form-field>
          <input matInput type="text" id="location" formControlName="location">
        </mat-form-field>
      </div>

    

      

      <div class="mb-3">
        <label for="posteDate">Creation Date</label>
        <mat-form-field>
          <input matInput [matDatepicker]="creationDatePicker" formControlName="posteDate">
          <mat-datepicker-toggle matSuffix [for]="creationDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #creationDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <label for="photo">Profile Photo</label>
        <input type="file" id="photo" class="form-control" (change)="onFileChange($event)">
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid || loading">
          <span *ngIf="!loading">Add Post</span>
        </button>
      </div>
      
      <div class="alert alert-success" *ngIf="success !== ''">
        {{ success }}
      </div>
      
      <div class="alert alert-danger" *ngIf="error !== ''">
        {{ error }}
      </div>
    </form>
  </div>
</div>
